extends ../layouts/default.pug

block title
  | Quran &laquo; القرآن الكريم

block logo
  | القرآن الكريم

mixin main(className)
  div(class=className)
    h2 The Noble Quran
    br
    br
    p A revealation from the Almighty, our Lord, Allah.

block desktop
  +main('desktop')

block content
  +main('phone')
  section.quran
    h4.row Surahs (Chapters)
  section.quran
    .row
      for list in surahs
        ul
          for surah in list
            li
              a(href=`https://saqib.ml/quran/${surah.num}`, target="_blank")
                span.num= surah.num
                span.eng= surah.eng
                span.ara= surah.ara
                .mng= surah.mng 
