extends ../../layouts/default.pug

block title
  | #{category.name} &laquo; Docs

mixin main(className)
  .doc(class=className)
    ul.docs-links
      for link in links
        li
          a(href=`/docs/${category.href}/${link.slug}`)
            .button= link.title
      li
        a(href=`/docs`)
          .button Back 

block desktop
  +main('desktop')

block content
  section.phone
    +main('phone')
