extends ../../layout.pug

block title
  | #{doc.title} &laquo; #{doc.author[1]}

block link2
  a(href="/about") About

block link3
  a(href="/quran") Quran

block link4
  a(href="/docs") Docs

block desktop
  h2= doc.title

block content
  section.docs-content
    article
      for c in doc.content
        p !{c}
    a(href=`/docs/${category}`)
      .button Back
